html {
    background-color: #342E37;
    color: #0AFFF7;
    text-align: center;
}

p {
    margin: 5px 0 0 0;
}

button {
    background-color: #342E37;
    color: #0AFFF7;
    font-size: 3REM;
    border: none;
}

button:hover {
    background-color: #138E90;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculatorBody {
    width: 33vw;
    border: 5px solid #0AFFF7;
    background-color: #0AFFF7;
}

.calcDisplay {
    width: 32.5vw;
    height: 5REM;
    font-size: 5REM;
    text-align: end;
    background-color: #342E37;
    color: #0AFFF7;
    margin-bottom: 5px;
}

.gridLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(5REM, auto);
}

.twoGrids {
    grid-column: 1/3;
}

.redText {
    color: red;
}

.excessWrapperOff {
    display: none;
}

.excessWrapperOn {
    display: relative;
}